<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>co.bareapp.bare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bareapp</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_ANALYTICS_IDFA_COLLECTION_ENABLED</key>
	<false/>
	<key>POSTHOG_API_KEY</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>POSTHOG_HOST</key>
	<string>$(POSTHOG_HOST)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>ANALYTICS_ENABLED</key>
	<string>$(ANALYTICS_ENABLED)</string>
	<key>FIREBASE_ENABLED</key>
	<string>$(FIREBASE_ENABLED)</string>
	<key>REMOTE_CONFIG_FETCH_INTERVAL_SECONDS</key>
	<string>$(REMOTE_CONFIG_FETCH_INTERVAL_SECONDS)</string>
	<key>ANALYTICS_REQUIRES_EXPLICIT_CONSENT</key>
	<string>$(ANALYTICS_REQUIRES_EXPLICIT_CONSENT)</string>
	<key>APP_ENVIRONMENT</key>
	<string>$(APP_ENVIRONMENT)</string>
	<key>ONESIGNAL_APP_ID</key>
	<string>$(ONESIGNAL_APP_ID)</string>
</dict>
</plist>
